version: "3.8"

services: 
  mysql:
    image: mysql:latest
    container_name: "mysql"
    environment: 
      MYSQL_ROOT_PASSWORD: Test@123
      MYSQL_DATABASE: expenses_tracker
    ports: 
      - "3306:3306"
    networks: 
      - expenses-app-nw
    healthcheck: 
      test: ["CMD","mysqladmin","ping","-h","localhost","-uroot","-pTest@123"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes: 
      - ./mysql-data:/var/lib/mysql
    restart: always
    
  java_app:
    build: ./
    container_name: "expensesapp"
    ports: 
      - "8081:8080"    #8081 because my jenkins works on the 8080 thats why i used 8081
    networks: 
      - expenses-app-nw
    environment: 
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/expenses_tracker?allowPublicKeyRetrieval=true&useSSL=false"
      SPRING_DATASOURCE_PASSWORD: Test@123
      SPRING_DATASOURCE_USERNAME: root
    restart: always
    depends_on: 
      - mysql

  nginx:
    build: ./nginx
    image: nginx
    container_name: "nginx_cont"
    ports: 
      - "80:80"
    networks: 
      - expenses-app-nw
    restart: always
    depends_on: 
      - java_app

networks: 
  expenses-app-nw:
